/* Ubuntu Font */
body {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 220px;
  }

  
  /* Material UI Colors */
  body.dark-mode {
    background-color: #424242;
    color: #E0E0E0;
  }
  
  body.light-mode {
    background-color: #FAFAFA;
    color: #212121;
  }
  
  /* Circular Buttons */
  .circular-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: #326DE6;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;  /* Remove border */
    color: #ffffff;  /* Make icons white */
    font-size: 24px;  /* Increase icon size */
  }
  .circular-button span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  
  .bottom-right {
    bottom: 20px;
    right: 20px;
  }
  
  .bottom-left {
    bottom: 20px;
    left: 20px;
  }
  
  /* Side Navigation */
  #sideNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    overflow-y: auto;
  }
  
  
  #sideNav ul {
    list-style-type: none;
    padding: 0;
  }
  
  #sideNav ul li {
    padding: 8px;
    text-align: center;
  }
  
  #sideNav ul li a {
    color: #E0E0E0;
    text-decoration: none;
    display: block;
  }
  