/* Ubuntu Font */
body {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 250px;
  }

  
  /* Material UI Colors */
  body.dark-mode {
    background-color: #424242;
    color: #E0E0E0;
  }
  
  body.light-mode {
    background-color: #FAFAFA;
    color: #212121;
  }
  
  /* Circular Buttons */
  .circular-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: #326DE6;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;  /* Remove border */
    color: #ffffff;  /* Make icons white */
    font-size: 24px;  /* Increase icon size */
  }
  .circular-button span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  
  .bottom-right {
    bottom: 20px;
    right: 20px;
  }
  
  .bottom-left {
    bottom: 20px;
    left: 20px;
  }
  
  /* Side Navigation */
  #sidebar {
    width: 230px;
    height: 100%; /* Take up the full height of the viewport */
    position: fixed; /* Fix position */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    overflow-y: auto; /* Add scroll if content overflows */
    background-color: #363636; /* Optional background color */
    color: #ffffff;
  }
  
  .sidebar-item {
    border-bottom: none;
  }
  
  .sidebar-header {
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    background-color: #363636;
  }

  .sidebar-header:hover {
    color: #326DE6;
  }
  
  .triangle {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 10px; /* Smaller font size for the triangle */
  }
  
  .sidebar-header:hover .triangle {
    transform: rotate(15deg);
  }
  
  .sidebar-header:hover .triangle[data-state="right"] {
    transform: rotate(15deg);
  }
  
  .sidebar-header:hover .triangle[data-state="down"] {
    transform: rotate(75deg);
  }
  

  .sidebar-content li {
    padding-left: 35px; /* Indentation for sub-items */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis for overflow */
  }
  
  
  .sidebar-content {
    display: none;
    padding-left: 40px; /* Indentation */
    margin-top: 0;  /* Remove top margin */
    margin-bottom: 0;  /* Remove bottom margin */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .sidebar-content li::before {
    content: "\2022";  /* Unicode bullet character */
    color: #ffffff;  /* Bullet color */
    font-weight: bold;  /* Bullet weight */
    display: inline-block;  /* Make it inline */
    width: 1em;  /* Width */
    margin-left: -1em;  /* Align bullet */
  }
  
  
  
  /* Circle button style */
  .circular-button:hover {
    background-color: #4a8df8;  /* Lighter blue */
  }
  
  .circular-button:active {
    transform: scale(0.95);  /* Depress a little */
  }
  
  #searchBar {
    border-radius: 25px;  /* Pill shape */
    background: #cccccc;
    color: #000000;
    border: none;
    width: 50%;  /* Not full width */
    margin: auto;  /* Centered */
    font-family: 'Ubuntu', sans-serif;
    padding-left: 15px;
  }
  
  #searchBar::placeholder {
    color: #525252;  /* Black */
    font-family: 'Ubuntu', sans-serif;
    padding-left: 10px;
  }

  #k8s-logo {
    height: 1.0em;  /* Adjust the size to match the header text */
    vertical-align: middle;  /* Align with the middle of the text */
    margin-right: 10px;  /* Add some space between the logo and the text */
  }
  
  #resize-handle {
    cursor: ew-resize;
    background: #333;
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  