/* Ubuntu Font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Ubuntu", sans-serif;
  transition: background-color 0.3s;
  height: 100%;
}

/* HTML */
html {
  height: 100%;
}

main {
  padding: 20px;
  margin-left: 300px;
  margin-top: 175px;
  position: relative;
  z-index: 1;
}

/* Dark Mode */
body.dark-mode {
  background-color: #424242;
  color: #ffffff;
}

/* Light Mode */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Header */
header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #363636;
  color: #ffffff;
  z-index: 1000;
}

/* Adjust header font size */
header h1 {
  font-size: 4em; /* Adjust as necessary */
  margin-left: 0px;
}

/* Adjust header font size */
header h3 {
  font-size: 1.5em; /* Adjust as necessary */
  margin-left: 0px;
  font-style: italic;
  font-weight: 350;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-and-subheader {
  text-align: center;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sub-header {
  margin-top: 20px; /* Adjust as needed */
}

/* Sidebar */
nav {
  position: fixed;
  padding-top: 100px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #363636;
  color: #ffffff;
  overflow-y: auto;
  transition: transform 0.3s;
}

/* Sidebar Sections and Links */
nav section {
  margin-bottom: 10px;
}

nav section h2 {
  padding: 10px;
  padding-left: 40px; /* Adjusted padding-left to move text and triangles to the right */
  cursor: pointer;
  position: relative;
  font-size: 18px; /* Reduced font size */
  font-weight: normal; /* Set font weight to normal */
}

nav section h2:hover {
  color: #326de6;
}

nav section h2:hover:before {
  transform: rotate(30deg);
}

nav section ul {
  list-style-type: disc;
  margin-left: 50px;
  padding-left: 20px;
  display: none;
}

nav section ul li {
  margin-bottom: 1px; /* Space between bullet points */
}

nav section ul li a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  display: block;
}

nav section ul li a:hover {
  color: #326de6;
}

/* Add margin to the first section to push it down below the header */
nav section:first-of-type {
  margin-top: 50px; /* Adjust this value as necessary */
}

/* Dark/Light Mode Toggle */
#mode-toggle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #326de6;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 50px; /* Set width */
  height: 50px; /* Set height */
  font-size: 24px; /* Adjust icon size */
  z-index: 1;
}

/* Scroll-to-Top Button */
#scroll-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #326de6;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 50px; /* Set width */
  height: 50px; /* Set height */
  font-size: 24px; /* Adjust icon size */
  z-index: 1;
}

#mode-toggle {
  bottom: auto;
  top: 150px; /* Adjust this value to position the toggle under the header */
  right: 20px;
}

/* Hamburger Menu Button */
#hamburger-menu {
  position: relative;
  top: 20px;
  left: 20px;
  background-color: #326de6;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  padding: 0px;
  cursor: pointer;
  display: none; /* Hide by default */
  font-size: 24px; /* Adjust size of hamburger icon */
  z-index: 999; /* Ensure it's on top of other elements */
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  align-items: center; /* Center the icon */
  justify-content: center; /* Center the icon */
  transition: background-color 0.8s;
}

/* Styles for X icon */
#hamburger-menu.x::before {
  content: "✕"; /* X character */
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Styles for hamburger icon */
#hamburger-menu::before {
  content: "☰"; /* Hamburger character */
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s;
}

/* Hamburger Menu Container */
#hamburger-container {
  display: none; /* Hide by default */
}

/* Mobile Styles */
@media (max-width: 768px) {
  /* Hide sidebar initially on mobile */
  nav#sidebar {
    height: calc(100vh - 60px); /* assuming 60px is the height of your header */
    transform: translateX(-100%);
    overflow-y: auto;
  }

  /* Header */
  header {
    justify-content: left;
    padding-left: 0px;
    z-index: 1000;
  }

  .header-content {
    justify-content: flex-start;
    text-align: left;
    z-index: 1000;
  }

  /* Adjust header font size */
  header h1 {
    font-size: 2.5em; /* Adjust as necessary */
    margin-left: 0px;
  }

  /* Adjust header font size */
  header h3 {
    font-size: 1em; /* Adjust as necessary */
    margin-left: 0px;
    font-style: italic;
    font-weight: 425;
  }

  main {
    padding: 25px;
    margin-left: 0px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
  }

  /* Show hamburger menu on mobile */
  #hamburger-menu {
    display: block;
  }

  /* Show hamburger menu container on mobile */
  #hamburger-container {
    display: block;
    text-align: center; /* Center the hamburger menu */
    padding-top: 130px; /* Space below the header */
  }

  /* Sidebar visible state on mobile */
  nav#sidebar.open {
    transform: translateX(0);
  }
}

#scroll-top {
  left: 50%; /* Centers the left edge of the button to the middle of the page */
  transform: translateX(
    -50%
  ); /* Shifts the button back to center it completely */
}

.material-icons {
  font-size: 24px; /* Adjust size as necessary */
  vertical-align: middle; /* Align with text */
}

/* Mobile Menu */
#mobile-menu {
  position: fixed;
  padding-top: 140px;
  top: 60px; /* Adjusted to accommodate fixed header */
  left: 0;
  width: 100%;
  background-color: #363636;
  color: #ffffff;
  display: none; /* Hidden by default */
  max-height: 70vh;
  overflow-y: scroll;
  z-index: 998; /* Ensure it's on top of other elements but below the hamburger menu */
}

#mobile-menu.open {
  display: block; /* Show when open class is added */
}

/* Sidebar and Mobile Menu Sections and Links */
nav section,
#mobile-menu section {
  margin-bottom: 10px;
}

nav section h2,
#mobile-menu section h2 {
  padding: 10px;
  padding-left: 40px; /* Adjusted padding-left to move text and triangles to the right */
  cursor: pointer;
  position: relative;
  font-size: 14px; /* Reduced font size */
  font-weight: normal; /* Set font weight to normal */
}

nav section h2:hover,
#mobile-menu section h2:hover {
  color: #326de6;
}

nav section ul,
#mobile-menu section ul {
  list-style-type: disc;
  margin-left: 50px;
  padding-left: 20px;
  display: none;
}

nav section ul li a,
#mobile-menu section ul li a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  display: block;
}

/* Header Content */
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

/* Logo Styles */
#logo {
  height: 50px; /* Adjust as needed */
  width: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Space between logo and title */
}

/* Desktop Styles */
@media (min-width: 769px) {
  nav h2 {
    font-size: 20px !important; /* Adjust this value to your preference */
  }

  nav li {
    font-size: 16px; /* Adjust this value to your preference */
  }
}
