/* Ubuntu Font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* up and down bouncing */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

/* Left->Right bouncing */
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }
}

#my-button:hover .material-icons {
  animation: bounce 2s infinite; /* Adjust duration and iteration as needed */
  transition: transform 0.3s ease-in-out; /* Optional: for a smooth scaling transition */
}

#my-button:hover .material-icons {
  transform: scale(1.5); /* Adjust the scale factor to your preference */
  transition: transform 0.3s ease-in-out; /* Optional: for a smooth scaling transition */
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Ubuntu", sans-serif;
  transition: background-color 0.3s;
  height: 100%;
}

/* HTML */
html {
  height: 100%;
}

main {
  padding: 20px;
  margin-left: 300px;
  margin-top: 175px;
  position: relative;
  z-index: 1;
}

/* Dark Mode */
body.dark-mode {
  background-color: #44475a;
  color: #ffffff;
}

/* Light Mode */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}
a {
  color: #50fa7b;
}

body.light-mode a {
  color: #326ce5;
}

/* Header */
header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #282a36;
  background-image: url(/assets/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  color: #ffffff;
  z-index: 1000;
}

/* Adjust header font size */
header h1 {
  font-size: 4em; /* Adjust as necessary */
  margin-left: 0px;
}

/* Adjust header font size */
header h3 {
  font-size: 1.5em; /* Adjust as necessary */
  margin-left: 0px;
  font-style: italic;
  font-weight: 350;
  color: #ffffff;
}

h3 {
  color: #bd93f9;
}

h1 {
  line-height: 30px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-and-subheader {
  text-align: center;
  align-items: center;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sub-header {
  margin-top: 20px; /* Adjust as needed */
}

/* Sidebar */
nav {
  position: fixed;
  padding-top: 100px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #282a36;
  color: #ffffff;
  overflow-y: auto;
  transition: transform 0.3s;
}

/* Sidebar Sections and Links */
nav section {
  margin-bottom: 10px;
}

nav section h2 {
  padding: 10px;
  padding-left: 40px; /* Adjusted padding-left to move text and triangles to the right */
  cursor: pointer;
  position: relative;
  font-size: 18px; /* Reduced font size */
  font-weight: normal; /* Set font weight to normal */
}

nav section h2:hover {
  color: #bd93f9;
}

nav section h2:hover:before {
  transform: rotate(30deg);
}

nav section ul {
  list-style-type: disc;
  margin-left: 50px;
  padding-left: 20px;
  display: none;
  color: #8c90a8;
}

nav section ul li {
  margin-bottom: 1px; /* Space between bullet points */
  color: #8c90a8;
}

nav section ul li a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  display: block;
  color: #8c90a8;
}

nav section ul li a:hover {
  color: #bd93f9;
}

/* Add margin to the first section to push it down below the header */
nav section:first-of-type {
  margin-top: 50px; /* Adjust this value as necessary */
}

.toggle-icon {
  font-size: 24px;
  vertical-align: middle;
  color: #ffffff;
  background-color: transparent !important;
  transition: transform 0.3s ease; /* Adjust the transition duration and easing function as needed */
}

/* Initial state (rightward arrow) */
h2:not(.expanded) .toggle-icon {
  transform: rotate(0deg);
}

/* Expanded state (downward arrow) */
h2.expanded .toggle-icon {
  transform: rotate(90deg);
}

/* Hover effect indicating expandability */
h2:not(.expanded):hover .toggle-icon {
  transform: rotate(45deg);
  color: #bd93f9;
}

/* Hover effect indicating collapsibility */
h2.expanded:hover .toggle-icon {
  transform: rotate(45deg);
  color: #bd93f9;
}

/* Dark/Light Mode Toggle */
#mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #bd93f9;
  color: #282a36 !important;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 50px; /* Set width */
  height: 50px; /* Set height */
  font-size: 24px; /* Adjust icon size */
  z-index: 1;
}

/* Scroll-to-Top Button */
#scroll-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #bd93f9;
  color: #282a36 !important;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 50px; /* Set width */
  height: 50px; /* Set height */
  font-size: 24px; /* Adjust icon size */
  z-index: 1;
}

#scroll-top:hover,
#next-page:hover,
#randomizer:hover,
#mode-toggle:hover {
  background-color: #ac75f8;
}

#mode-toggle {
  bottom: 20px;
  left: 105px;
}

/* Move to next page button */
#next-page {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #bd93f9;
  color: #282a36 !important;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 24px;
  z-index: 1;
}

ol.indented {
  padding-left: 35px; /* Adjust value as needed */
}

ul.indented {
  padding-left: 35px; /* Adjust value as needed */
}

/* Styles for the randomizer button */
#randomizer {
  position: fixed;
  bottom: 0px; /* Adjust position as needed */
  right: 100px;
  background-color: #bd93f9;
  color: #282a36 !important;
  border-radius: 50%;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 50px; /* Set width */
  height: 50px; /* Set height */
  font-size: 24px; /* Adjust icon size */
  z-index: 1;
}

/* Hamburger Menu Button */
#hamburger-menu {
  position: fixed;
  right: 0px;
  background-color: #bd93f9;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  padding: 0px;
  cursor: pointer;
  display: none; /* Hide by default */
  font-size: 24px; /* Adjust size of hamburger icon */
  z-index: 999; /* Ensure it's on top of other elements */
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  align-items: center; /* Center the icon */
  justify-content: center; /* Center the icon */
  transition: background-color 0.8s;
}

/* Styles for X icon */
#hamburger-menu.x::before {
  content: "✕"; /* X character */
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Styles for hamburger icon */
#hamburger-menu::before {
  content: "☰"; /* Hamburger character */
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s;
}

/* Hamburger Menu Container */
#hamburger-container {
  display: fixed;
}

/* Mobile Styles */
@media (max-width: 768px) {
  /* Hide sidebar initially on mobile */
  nav#sidebar {
    height: calc(100vh - 60px); /* assuming 60px is the height of your header */
    transform: translateX(-100%);
    overflow-y: auto;
  }

  /* Header */
  header {
    justify-content: left;
    position: relative;
    padding-left: 0px;
    z-index: 1000;
  }

  .header-content {
    justify-content: flex-start;
    text-align: left;
    z-index: 1000;
  }

  /* Adjust header font size */
  header h1 {
    font-size: 2.5em; /* Adjust as necessary */
    margin-left: 0px;
  }

  /* Adjust header font size */
  header h3 {
    font-size: 1em; /* Adjust as necessary */
    margin-left: 0px;
    font-style: italic;
    font-weight: 425;
  }

  main {
    padding: 25px;
    margin-left: 0px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
  }

  .code-block {
    background-color: #282a36;
    padding: 1em;
    position: relative;
    border-radius: 8px;
  }

  .copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent !important;
    border: none;
    cursor: pointer;
  }

  /* Show hamburger menu on mobile */
  #hamburger-menu {
    display: block;
    position: fixed;
    bottom: 20px;
    z-index: 1002;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }

  #bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: #282a36; /* Temporary color for visibility */
    display: flex;
    justify-content: space-around; /* This will evenly space your buttons */
    align-items: center; /* This will vertically center your buttons */
    padding: 20px 0; /* Adjust padding to reduce navbar height */
    box-shadow: 0 -2px 10px rgba(203, 203, 203, 0.472); /* Optional: Adds a subtle shadow for a lifted effect */
    z-index: 1001;
  }

  /* Containers for existing buttons */
  #hamburger-menu-container,
  #scroll-top-container,
  #mode-toggle-container,
  #randomizer-container,
  #next-page-container {
    flex: 1; /* This will ensure each container takes up equal width */
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Horizontally center the button within the container */
    align-items: center; /* Vertically center the button within the container */
  }

  /* Sidebar visible state on mobile */
  nav#sidebar.open {
    transform: translateX(0);
  }
}

.material-icons {
  font-size: 24px; /* Adjust size as necessary */
  vertical-align: middle; /* Align with text */
  color: #ffffff;
  background-color: transparent !important;
}

/* Mobile Menu */
#mobile-menu {
  position: fixed;
  padding-top: 0px;
  top: 0px; /* Adjusted to accommodate fixed header */
  left: 0;
  width: 100%;
  background-color: #282a36;
  color: #ffffff;
  display: none; /* Hidden by default */
  height: 100%;
  overflow-y: scroll;
  z-index: 998; /* Ensure it's on top of other elements but below the hamburger menu */
}

#mobile-menu.open {
  display: block; /* Show when open class is added */
}

/* Sidebar and Mobile Menu Sections and Links */
nav section,
#mobile-menu section {
  margin-bottom: 10px;
}

nav section h2,
#mobile-menu section h2 {
  padding: 10px;
  padding-left: 40px; /* Adjusted padding-left to move text and triangles to the right */
  cursor: pointer;
  position: relative;
  font-size: 18px; /* Reduced font size */
  font-weight: bold; /* Set font weight to normal */
}

nav section h2:hover,
#mobile-menu section h2:hover {
  color: #bd93f9;
}

nav section ul,
#mobile-menu section ul {
  list-style-type: disc;
  margin-left: 50px;
  padding-left: 20px;
  display: none;
  color: #8c90a8;
}

nav section ul li a,
#mobile-menu section ul li a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  display: block;
  line-height: 1.5;
}

/* Header Content */
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

/* Logo Styles */
#logo {
  height: 50px; /* Adjust as needed */
  width: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Space between logo and title */
}

/* Desktop Styles */
@media (min-width: 769px) {
  nav h2 {
    font-size: 20px !important; /* Adjust this value to your preference */
    font-weight: bold !important;
  }

  nav li {
    font-size: 16px; /* Adjust this value to your preference */
  }

  h3 {
    font-size: 28px;
  }

  /* Body */
  body {
    font-size: 20px !important;
    margin-left: 20px;
    margin-right: 5%;
  }

  li {
    font-size: 20px;
  }

  ul li {
    text-indent: -3em;
    padding-left: 3em;
    color: #8c90a8;
  }

  body li {
    padding-left: 35px;
  }

  nav section:first-of-type {
    margin-top: 90px; /* Adjust this value as necessary */
  }

  /* Dark/Light Mode Toggle */
  #mode-toggle {
    position: fixed;
    bottom: 75%;
    left: 95%;
    padding: 10px;
    margin-top: 70px;
    top: 10%;
    z-index: 99999;
    transition: box-shadow 0.3s ease-in-out;
  }

  #mode-toggle:hover,
  #mode-toggle:focus {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
  }

  body.light-mode #mode-toggle:hover,
  body.light-mode #mode-toggle:focus {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #bd93f9, 0 0 30px #bd93f9;
  }

  .code-block {
    background-color: #282a36;
    padding: 0.5em;
    border-radius: 8px;
    font-size: 16px;
    width: 95%;
    display: block;
    margin: left;
    position: relative;
  }
  .copy-button {
    position: relative;
    margin-left: 99%;
    top: 5px;
    right: 30px;
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    color: #f8f8f2;
    text-align: center;
    z-index: 1;
  }

  #scroll-top {
    margin-left: 255px;
  }
  #scroll-top:hover .material-icons {
    animation: bounce 1.5s infinite;
    transition: transform 0.5s ease-in-out;
  }

  #scroll-top:hover .material-icons {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
  }

  #next-page:hover .material-icons {
    animation: bounce2 1.5s infinite;
    transition: transform 0.5s ease-in-out;
  }

  #next-page:hover .material-icons {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
  }
}
